<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
  <div class="row">
      <div class="col-md-offset-1 col-md-10">
          <div class="panel">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col col-sm-3 col-xs-12">
                          <h4 class="title">Data <span>List</span></h4>
                      </div>
                      <div class="col-sm-9 col-xs-12 text-right">
                          <div class="btn_group">
                              <input type="text" class="form-control" placeholder="Search">
                              <!-- <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i></button>
                              <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                              <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button> -->
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel-body table-responsive">
                  <table class="table" >
                      <thead>
                          <tr>
                              <th>No</th>
                              <th>Week</th>
                              <th>Title</th>
                              <th>Options</th>
                              <th>More</th>
                          </tr>
                      </thead>
                      <tbody *ngFor="let course of content">
                          <tr>
                              <td>{{course.id}}</td>
                              <td>{{course.week_id}}</td>
                              <td>{{course.title}}</td>
                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>

                                  </ul>
                              </td>
                              <td></td>
                          <!-- </tr>
                          <tr>
                              <td>2</td>
                              <td>Taylor Reyes</td>
                              <td>22</td>

                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                          <tr>
                              <td>3</td>
                              <td>Justin Block</td>
                              <td>26</td>

                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                          <tr>
                              <td>4</td>
                              <td>Sean Guzman</td>
                              <td>26</td>

                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                          <tr>
                              <td>5</td>
                              <td>Keith Carter</td>
                              <td>20</td>

                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr> -->
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
